<!-- templates/ice_cream/index.html -->
{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="ru">

<head>
</head>

<body>
  <header>
    <!-- Это тег шаблонизатора include, сюда будет включён код
      из файла includes/header.html -->
    {% include 'includes/header.html' %}
  </header>
  <main>
    {% block content %}
    Информация на главной странице
    {% comment %}
    В HTML-тег <a> в атрибут href вместо адреса ссылки вставляем тег {% url %}
      и указываем name нужного path()
      {% endcomment %}
      <a class="navbar-brand" href="{% url 'ice_cream:ice_cream_list' %}">
        Страница со списком сортов мороженого
      </a>

      {% comment %} <a href="{% url 'ice_cream:ice_cream_detail' ice_cream.pk %}">
        Подробная информация
      </a> {% endcomment %}
      {% endblock %}
  </main>
  <footer>
    {% include 'includes/footer.html' %}
  </footer>
</body>

</html>